* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
display: block;
}

header{
display: flex;
background-color: #333;
}

#Vinyl {
width: 55px;
height: 40px;
padding-top: 5px;
}

h1{
font-family: "Cormorant Garamond", serif;
font-size: 40px ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(39, 37, 37);
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


footer{
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: white;
  align-items: flex-end;
}

.banner-img{
  background-image: url(https://baderstudios.de/sites/default/files/_W1_9902.JPG);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  width: 1480px;
  filter: blur(5px);
}

.banner-text{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  padding: 40px 0;
  text-align: center;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(83, 137, 182, 0.425);
  color: black;
  font-weight: bold;
  border: 10px inset #fff;
}

.banner-text p{
  padding: 0.8%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}


#cover {
  height: 100px;
  width: 100px;
}